.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
  @extend .overly;

  .block {
    color: #fbfbff;
    text-align: center;

    h1 {
      font-weight: 100;
      font-size: 35px;
      line-height: 60px;
      letter-spacing: 5px;
      padding-bottom: 150px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 30px;
      color: #ffffff;
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
    }
  }
}
